@{
    ViewData["Title"] = "Machine Problem 1";
}

<link rel="stylesheet" href="/css/student.css" asp-append-version="true" />

@{
    string FirstName = "Steve";
    string LastName = "De Vera";
    DateTime Birthday = new DateTime(2003, 01, 30);
    int Age = DateTime.Now.Year - Birthday.Year;
    string Email = "steve.devera.cics@ust.edu.ph";
    string Username = Email.Split('@')[0];
    string Domain = Email.Split('@')[1];
    string FullName = $"{FirstName} {LastName}";
    bool IsTenured = true;
    var SalaryPerHour = 11.00F;
    var SalaryPerDay = SalaryPerHour * 8;
    var SalaryPerMonth = SalaryPerDay * 30 + (IsTenured ? 500.00F : 0.00F);
    var PrelimGrade = 92;
    var FinalGrade = 90;
    var SemGrade = (PrelimGrade + FinalGrade) / 2;
    var TransGrade = SemGrade switch
    {
        >= 96 => 1.00F,
        >= 94 => 1.25F,
        >= 92 => 1.50F,
        >= 89 => 1.75F,
        >= 87 => 2.00F,
        >= 84 => 2.25F,
        >= 82 => 2.50F,
        >= 79 => 2.75F,
        >= 75 => 3.00F,
        _ => 5.00F
    };
    var Remarks = TransGrade <= 3.00F ? "PASSED!!" : "FAILED!!";
}


<div class="text-center">
    <h1 class="display-4">Machine Problem 1</h1>
    <br />
    <br />
    <p>My name is @FirstName @LastName and I'm @Age years old.</p>
    <p><b>Email: </b> @Email</p>
    <p><b>Username: </b> @Username</p>
    <p><b>Domain: </b> @Domain</p>

    <div class="result">
        <p><b>Name: </b> @FullName</p>
        <p><b>Email: </b> @Email</p>
        <p><b>Status: </b> @(IsTenured ? "Permanent" : "Probitionary")</p>
        <p><b>Daily Salary: </b> $@SalaryPerDay</p>
        <p><b>Monthly Salary: </b> $@SalaryPerMonth</p>
    </div>

    <div class="grades">
        <p><b>Name: </b> @FullName</p>
        <p><b>Prelim: </b> @PrelimGrade</p>
        <p><b>Final: </b> @FinalGrade</p>
        <p><b>Semestral Grade: </b> @SemGrade</p>
        <p><b>Transmuted Grade: </b> @TransGrade</p>
        <p><b>@Remarks</b></p>
    </div>

</div>